<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/Style2.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <title>{{request.user.username}}'s Shopping Cart</title>
        <style>
            body {
                background-image: url('/Static/css/aboutus.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
            footer {
            background-color: #45526e;
            color: white;
        }

        .footer-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2rem 0;
        }

        .footer-links a {
            color: white;
            text-decoration: none;
        }

        .footer-links a:hover {
            text-decoration: underline;
        }
        
        
        </style>
    </head>
    <body>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-logo" id="navbar-logo">Happy Feet</a>

            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Homepage</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'homepage' %}">Home</a>
                            <a class="dropdown-item" href="{% url 'aboutus' %}">About us</a>
                            <a class="dropdown-item" href="{% url 'howtobuy' %}">How to buy?</a>
                            <a class="dropdown-item" href="{% url 'partnerships' %}">Partnerships</a>
                            <a class="dropdown-item" href="{% url 'faqpage' %}">FAQ</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Fashions</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'menshoes' %}">Men's Shoes</a>
                            <a class="dropdown-item" href="{% url 'womenshoes' %}">Women's Shoes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex my-2 my-lg-0" action="{% url 'search_view' %}" method="POST">
                  {% csrf_token %}
                      <input class="form-control me-sm-2" type="text" placeholder="Search" name="Search">
                      <button class="btn btn-outline-dark ms-2" type="submit">Search</button>
                  {% if user.is_authenticated %}
                  <a class="btn btn-outline-dark ms-2" href="{% url 'cart_view' %}">
                    Cart({{ total_items }}) 
                  </a>
                    <a class="btn btn-outline-dark ms-2" href="{% url 'user_settings' %}">
                      Welcome,&nbsp;{{ user.username }}
                    </a>
                    <a class="btn btn-outline-dark ms-2" href="{% url 'signout' %}">
                      Log&nbsp;Out
                    </a>
                  {% else %}
                    <a class="btn btn-outline-dark ms-2" href="{% url 'signin' %}">
                      Login
                     </a>
                  {% endif %}
              </form>    
            </div>
        </div>
    </nav>
        <section class="h-100 h-custom">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                  <div class="card">
                    
                    <div class="card-body p-4">
          
                      <div class="row">
          
                        <div class="col-lg-7">
                          <h5 class="mb-3"><a href="{% url 'homepage' %}" class="text-body"><i
                                class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                          <hr>
                         
                          <div class="d-flex justify-content-between align-items-center mb-4">
                            <div>
                              <p class="mb-1">Shopping cart</p>
                              <p class="mb-0">You have {{ total_items }} items in your cart</p>
                            </div>                         
                          </div>   
                          {% for products_in_cart in products_in_cart %}
                         <div class="card mb-3">
                          <div class="card-body">
                            <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                          <div>
                            <img src="{{products_in_cart.product_image}}" class="img-fluid rounded-3" alt="Shopping item" style="width: 100px;">
                          </div>
                          <div class="ms-3">
                            <h5>{{ products_in_cart.productName}}</h5>
                            <p class="small mb-0">Size:{{ products_in_cart.product_size}} {{ products_in_cart.main_color}},{{ products_in_cart.sub_color}}</p>                          
                            <p class="small mb-0">In Stock: {{  products_in_cart.InStock }}</p> 
                          </div>
                          </div>
                        <div class="d-flex flex-row align-items-center">
                         <div class="input-group">
                          <form action="{% url 'edit_quantity' product_id=products_in_cart.product_id %}" method="POST">
                            {% csrf_token %}
                          <input type="number" name="quantity" value="{{ products_in_cart.product_quantity }}" min="1" step="1" max="10" class="form-control" style="width: 77px;">
                          <div class="d-flex flex-row align-items-center">
                          <button type="submit" class="btn btn-outline-primary mt-1">Update</button>
                          </div>
                        </form>
                        </div>
                        <div class="ms-3">
                        <div class="mb-0">
                          <h5 class="mb-0">${{ products_in_cart.product_price}}</h5>
                        </div>
                        </div>
                          <form action="{% url 'remove_from_cart' product_id=products_in_cart.product_id %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Remove</button>
                          </form>
                        </div>
                      </div>
                     </div>
                  </div>
                    {% endfor %}
                    {% for women_products_in_cart in  women_products_in_cart %}
                    <div class="card mb-3">
                     <div class="card-body">
                       <div class="d-flex justify-content-between">
                     <div class="d-flex flex-row align-items-center">
                     <div>
                       <img src="{{ women_products_in_cart.product_image}}" class="img-fluid rounded-3" alt="Shopping item" style="width: 100px;">
                     </div>
                     <div class="ms-3">
                       <h5>{{  women_products_in_cart.productName}}</h5>
                       <p class="small mb-0">Size:{{  women_products_in_cart.product_size}} {{  women_products_in_cart.main_color}},{{  women_products_in_cart.sub_color}}</p>
                     </div>
                     </div>
                     <div class="d-flex flex-row align-items-center">
                      <div class="input-group">
                       <form action="{% url 'w_edit_quantity' product_id=women_products_in_cart.product_id %}" method="POST">
                         {% csrf_token %}
                       <input type="number" name="quantity" value="{{ women_products_in_cart.product_quantity }}" min="1" step="1" max="10" class="form-control" style="width: 77px;">
                       <div class="d-flex flex-row align-items-center">
                       <button type="submit" class="btn btn-outline-primary mt-1">Update</button>
                       </div>
                     </form>
                     </div>
                   <div class="ms-3">
                   <div class="mb-0">
                    <h5 class="mb-0" style="margin-left: 10px;">${{ women_products_in_cart.product_price }}</h5>
                   </div>
                   </div>
                   <form action="{% url 'remove_from_cart' product_id=women_products_in_cart.product_id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                       <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                   </div>
                 </div>
                </div>
             </div>
               {% endfor %}
                        </div>
                        <div class="col-lg-5">          
                          <div class="card bg-dark text-white rounded-3">
                            <div class="card-body">
                              <div class="d-flex justify-content-between mb-4">
                                <h5 class="mb-0">Payment Options</h5>
                              </div>
                              <form action="{% url 'checkout'  %}" method="post">
                                {% csrf_token %}
                              <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="creditCard" value="CreditCard" checked>
                                <label class="form-check-label" for="creditCard">
                                  Credit Card
                                </label>
                              </div>
                              <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="cashOnDelivery" value="CashOnDelivery">
                                <label class="form-check-label" for="cashOnDelivery">
                                  Cash on Delivery
                                </label>
                              </div>
                              <div class="d-flex justify-content-between align-items-center mb-4">
                                <h5 class="mb-0">Card details</h5>
                              </div>   
                              <center><h6><p>"If you choose Cash on Delivery, no need to enter card details. We'll handle it during the delivery!"</p></h6></center>
          
                              
                                <div class="form-outline form-white mb-4">
                                  <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                    placeholder="Cardholder's Name" />
                                  <label class="form-label" for="typeName">Cardholder's Name</label>
                                </div>
          
                                <div class="form-outline form-white mb-4">
                                  <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                    placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                                  <label class="form-label" for="typeText">Card Number</label>
                                </div>
          
                                <div class="row mb-4">
                                  <div class="col-md-6">
                                    <div class="form-outline form-white">
                                      <input type="text" id="typeExp" class="form-control form-control-lg"
                                        placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" />
                                      <label class="form-label" for="typeExp">Expiration</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-outline form-white">
                                      <input type="password" id="typeText" class="form-control form-control-lg"
                                        placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                      <label class="form-label" for="typeText">Cvv</label>
                                    </div>
                                  </div>
                                </div>
          
                              
          
                              <hr class="my-4">
                              
                              <div class="d-flex justify-content-between">
                                <p class="mb-2">Total amount(no shipment)</p>
                                <p class="mb-2">${{ total_amount }}</p>
                              </div>
          
                              <div class="d-flex justify-content-between ">
                                <p class="mb-2">VAT 7%</p>
                                <p class="mb-2">${{ vat_amount }}</p>
                              </div>
          
                              <div class="d-flex justify-content-between mb-4">
                                <p class="mb-2">Total(Incl. taxes)</p>
                                <p class="mb-2">${{ total_amount_vat }}</p>
                              </div>
                              
                              <div class="d-flex justify-content-between">
                                <span></span>
                                <span>                                
                            
                                        <button type="submit" class="btn btn-outline-light btn-lg">
                                            <h4 class="m-0">Checkout</h4>
                                        </button>
                                    </form>
                                </span>
                            </div>                           
                            <script>
                                document.getElementById("checkout-button").style.display = "none";
                            </script>
                            </div>
                          </div>
          
                        </div>
          
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <footer>
            <div class="container">
                <div class="footer-links">
                    <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Happy Team</h6>
                        <p>
                           <a href="{% url 'homepage' %}" >Michael Grey</a>
                        </p>
                        <p>
                          <a href="{% url 'homepage' %}" >Ezio Auditore da Firenze</a>
                       </p>
                       <p>
                        <a href="{% url 'homepage' %}" >Billy Russo</a>
                     </p>
                    </div>
      
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                        <p>
                            <a href="{% url 'menshoes' %}" class="text-white">Men Shoes</a>
                        </p>
                        <p>
                            <a href="{% url 'womenshoes' %}" class="text-white">Women Shoes</a>
                        </p>
                        <p>
                            <a href="#" class="text-white">Best Selling</a>
                        </p>
                    </div>
      
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="fas fa-home mr-3"></i> Bangkok, Bang Pho 10012, TH</p>
                        <p><i class="fas fa-envelope mr-3"></i> happyfeet_cs@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 092 496 5301 </p>
                        <p><i class="fas fa-print mr-3"></i> + 092 496 5302</p>
                    </div>
                </div>
      
                <hr class="my-3">
      
                <section class="p-3 pt-0">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <div class="p-3">
                                &copy; 2023 Happy Feet. All rights reserved.
                            </div>
                        </div>
      
                        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                                <i class="fab fa-google"></i>
                            </a>
                            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </footer>
    

</html>
