<!DOCTYPE html>
<html>
<head>
    <title>How to buy</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/Style2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-color: white; 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        footer {
            background-color: #45526e;
            color: white;
        }

        .footer-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2rem 0;
        }

        .footer-links a {
            color: white;
            text-decoration: none;
        }

        .footer-links a:hover {
            text-decoration: underline;
        }
        .img-cover {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light ">
        <div class="container">
            <a class="navbar-logo" id="navbar-logo">Happy Feet</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
                aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'homepage' %}">Homepage</a>
                            <a class="dropdown-item" href="{% url 'aboutus' %}">About us</a>
                            <a class="dropdown-item" href="{% url 'howtobuy' %}">How to buy?</a>
                            <a class="dropdown-item" href="{% url 'partnerships' %}">Partnerships</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fashions</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'menshoes' %}">Men's Shoes</a>
                            <a class="dropdown-item" href="{% url 'womenshoes' %}">Women's Shoes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex my-2 my-lg-0" action="{% url 'search_view' %}" method="POST">
                    {% csrf_token %}
                        <input class="form-control me-sm-2" type="text" placeholder="Search" name="Search">
                        <button class="btn btn-outline-dark ms-2" type="submit">Search</button>
                </form>
                <form>
                    {% if user.is_authenticated %}
                    <a class="btn btn-outline-dark ms-2" href="{% url 'cart_view' %}">
                      Cart({{ total_items }})
                    </a>
                    <a class="btn btn-outline-dark ms-2" href="{% url 'wishlist' %}">
                        <i class="fas fa-tasks"></i>
                      </a>
                      <a class="btn btn-outline-dark ms-2" href="{% url 'user_settings' %}">
                        Welcome,&nbsp;{{ user.username }}
                      </a>
                      <a class="btn btn-outline-dark ms-2" href="{% url 'signout' %}">
                        Log&nbsp;Out
                      </a>
                    {% else %}
                      <a class="btn btn-outline-dark ms-2" href="{% url 'signin' %}">
                        Login
                       </a>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
      <div class="head mt-3">
        <b><h5>How to order?</h5></b>
      </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="text-center">
          <img class="img-fluid w-50 align-content-center" alt="MenProduct1" src='/Static/css/searchandbrowse.jpg' style="object-fit: cover;" />
        </div>
        <div class="card-text ml-3 mr-3 mb-3">
          <h5>1. Browse Products:</h5> Search or browse to find what you want.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="text-center">
          <img class="img-fluid w-50 align-content-center" src='/Static/css/addtocart.jpg' style="object-fit: cover;" />
        </div>
        <div class="card-text ml-3 mr-3 mb-3">
          <h5>2. Add to Cart:</h5> Click "Add to Cart" for the item you want.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="text-center">
          <img class="img-fluid w-50 align-content-center" src='/Static/css/enterdetails.jpg' style="object-fit: cover;" />
        </div>
        <div class="card-text ml-3 mr-3 mb-3">
          <h5>3. Proceed to Checkout:</h5> Click "Checkout" or "Proceed to Checkout."
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="text-center">
          <img class="img-fluid w-50 align-content-center" src='/Static/css/confirm-payment.jpg' style="object-fit: cover;" />
        </div>
        <div class="card-text ml-3 mr-3 mb-3">
          <h5>4. Confirm and Pay:</h5> Review, confirm your order, and make the payment.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="text-center">
          <img class="img-fluid w-50 align-content-center" src='/Static/css/trackorder.jpg' style="object-fit: cover;" />
        </div>
        <div class="card-text ml-3 mr-3 mb-3">
          <h5>5.Track Order:</h5> Wait for your order, which you can track using provided information.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="text-center">
          <img class="img-fluid w-50 align-content-center" src='/Static/css/enjoy.png' style="object-fit: cover;" />
        </div>
        <div class="card-text ml-3 mr-3 mb-3">
          <h5>6. Receive and Enjoy:</h5>  Once delivered, unpack and enjoy your purchase!
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
    <div class="container">
        <div class="footer-links">
            <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Happy Team</h6>
                <p>
                    <a href="{% url 'aboutus' %}" >Jane Doe</a>
                 </p>
                 <p>
                   <a href="{% url 'aboutus' %}" >Mike Ross</a>
                </p>
                <p>
                 <a href="{% url 'aboutus' %}" >John Doe</a>
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2">
                <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p>
                    <a href="{% url 'menshoes' %}" class="text-white">Men Shoes</a>
                </p>
                <p>
                    <a href="{% url 'womenshoes' %}" class="text-white">Women Shoes</a>
                </p>
                <p>
                    <a href="#" class="text-white">Best Selling</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i class="fas fa-home mr-3"></i> Bangkok, Bang Pho 10012, TH</p>
                <p><i class="fas fa-envelope mr-3"></i> happyfeet_cs@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 092 496 5301</p>
                <p><i class="fas fa-print mr-3"></i> + 092 496 5302</p>
            </div>
        </div>
        <hr class="my-3">
        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <div class="p-3">
                        &copy; 2023 Happy Feet. All rights reserved.
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                    <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                        <i class="fab fa-google"></i>
                    </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </section>
    </div>
</footer>
<script>
    $(document).ready(function () {
        $('[data-mdb-toggle="collapse-sidebar"]').on('click', function () {
            $('#navbarSupportedContent').collapse('toggle');
        });
        $('[data-mdb-toggle="collapse"]').on('click', function () {
            const target = $(this).data('target');
            $(target).collapse('toggle');
        });
    });
</script>
</body>
</html>
