<!DOCTYPE html>
<html>
<head>
    <title>Products for Men</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/Style2.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
     body {
            background-image: url('/Static/css/aboutus.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            }
            body {
            margin: 0;
            padding: 0;
        }

        footer {
            background-color: #45526e;
            color: white;
        }

        .footer-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2rem 0;
        }

        .footer-links a {
            color: white;
            text-decoration: none;
        }

        .footer-links a:hover {
            text-decoration: underline;
        }
        .btn-outline-yellow {
          color: #ffc107; 
          background-color: transparent;
          border-color: #ffc107; 
        }
        .btn-outline-yellow:hover {
          background-color: #ffc107; 
          border-color: #ffc107; 
          color: #fff; 
        }
    </style>
</head>


<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-logo" id="navbar-logo">Happy Feet</a>

            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Home</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'homepage' %}">Homepage</a>
                            <a class="dropdown-item" href="{% url 'aboutus' %}">About us</a>
                            <a class="dropdown-item" href="{% url 'howtobuy' %}">How to buy?</a>
                            <a class="dropdown-item" href="{% url 'partnerships' %}">Partnerships</a>
                            <a class="dropdown-item" href="{% url 'faqpage' %}">FAQ</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Fashions</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'menshoes' %}">Men's Shoes</a>
                            <a class="dropdown-item" href="{% url 'womenshoes' %}">Women's Shoes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex my-2 my-lg-0" action="{% url 'search_view' %}" method="POST">
                  {% csrf_token %}
                      <input class="form-control me-sm-2" type="text" placeholder="Search" name="Search">
                      <button class="btn btn-outline-dark ms-2" type="submit">Search</button>
                  {% if user.is_authenticated %}
                  <a class="btn btn-outline-dark ms-2" href="{% url 'cart_view' %}">
                    Cart({{total_items}})
                  </a>
                    <a class="btn btn-outline-dark ms-2" href="{% url 'user_settings' %}">
                      Welcome,&nbsp;{{ user.username }}
                    </a>
                    <a class="btn btn-outline-dark ms-2" href="{% url 'signout' %}">
                      Log&nbsp;Out
                    </a>
                  {% else %}
                    <a class="btn btn-outline-dark ms-2" href="{% url 'signin' %}">
                      Login
                     </a>
                  {% endif %}
              </form>
            </div>
        </div>
    </nav>
    <div class="carousel slide" id="carousel-933127">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-933127" class="active">
					</li>
					<li data-slide-to="1" data-target="#carousel-933127">
					</li>
					<li data-slide-to="2" data-target="#carousel-933127">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" alt="MenProduct1" src='/Static/css/menads1.jpg' style="object-fit: cover; width: 1600px; height: 500px;" />
						<div class="carousel-caption">
							<h4>
								 Footwears for Men
							</h4>
							<p>
								Happy Feet provides the best quality of footwears for many years. We are more than happy to help you find your best shoes!
							</p>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" alt="MenProduct2" src='/Static/css/menads2.jpg' style="object-fit: cover; width: 1600px; height: 500px;" />
						<div class="carousel-caption">
							<h4>
								Customize your shoes with us!
							</h4>
							<p>
								Happy Feet allows customers to customize shoe style however customers like!
							</p>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" alt="MenProduct3" src='/Static/css/menads3.jpg' style="object-fit: cover; width: 1600px; height: 500px;" />
						<div class="carousel-caption">
							<h4>
								Many shoes to choose from our store!
							</h4>
							<p>
								Happy Feet also comes up with a variety of styles of shoes including formal shoes!
							</p>
						</div>
					</div>
				</div> <a class="carousel-control-prev" href="#carousel-933127" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" href="#carousel-933127" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
			</div>
		</div>
	</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'homepage' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">
            Men Products
          </li>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <button
                  class="btn btn-success mb-3 w-100 d-lg-none"
                  type="button"
                  data-mdb-toggle="collapse-sidebar"
                  data-mdb-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                
            <span>Show filter</span>
          </button>
          <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
            <div class="accordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseOne"
                          aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseOne"
                          >
                    Related items
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                  <div class="accordion-body">
                    <div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="basketball" id="flexCheckChecked1" checked />
                        <label class="form-check-label" for="flexCheckChecked1">Basketball</label>
                      </div>
              
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="fashion" id="flexCheckChecked2" checked />
                        <label class="form-check-label" for="flexCheckChecked2">Fashion</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="running" id="flexCheckChecked3" checked />
                        <label class="form-check-label" for="flexCheckChecked3">Running</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="walking" id="flexCheckChecked4" checked />
                        <label class="form-check-label" for="flexCheckChecked4">Walking</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="casual" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">Casual</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="lifestyle" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">Lifestyle</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button text-dark bg-light"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#panelsStayOpen-collapseTwo"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseTwo"
                  >
                    Brands
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    <div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="nike" id="flexCheckChecked1" checked />
                        <label class="form-check-label" for="flexCheckChecked1">Nike</label>
                      </div>
              
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="adidas" id="flexCheckChecked2" checked />
                        <label class="form-check-label" for="flexCheckChecked2">Adidas</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="puma" id="flexCheckChecked3" checked />
                        <label class="form-check-label" for="flexCheckChecked3">Puma</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="converse" id="flexCheckChecked4" checked />
                        <label class="form-check-label" for="flexCheckChecked4">Converse</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="skechers" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">Skechers</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="newbalance" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">New Balance</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="reebok" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">Reebok</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="fila" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">Fila</label>
                      </div>
              
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseThree"
                          aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseThree"
                          >
                    Price
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                  <div class="accordion-body">
                    <div class="row mb-3">
                      <div class="col-6">
                        <p class="mb-0">
                          Min
                        </p>
                        <div class="form-outline">
                          <input type="number" id="typeNumber" class="form-control" />
                          <label class="form-label" for="typeNumber">$0</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <p class="mb-0">
                          Max
                        </p>
                        <div class="form-outline">
                          <input type="number" id="typeNumber" class="form-control" />
                          <label class="form-label" for="typeNumber">$1,0000</label>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-white w-100 border border-secondary">apply</button>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseFour"
                          aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseFour"
                          >
                    Size
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                  <div class="accordion-body">
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check1" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check1">7</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check2" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check2">8</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check3" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check3">9</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check4" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check4">10</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check1" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check1">11</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check1" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check1">12</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check1" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check1">13</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check1" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check1">14</label>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseFive"
                          aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseFive"
                          >
                    Popular color
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                  <div class="accordion-body">
                  
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked />
                      <label class="form-check-label" for="flexCheckChecked1">Black</label>
                    </div>
                 
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked />
                      <label class="form-check-label" for="flexCheckChecked1">White</label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked />
                      <label class="form-check-label" for="flexCheckChecked1">Grey</label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked />
                      <label class="form-check-label" for="flexCheckChecked1">Blue</label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked />
                      <label class="form-check-label" for="flexCheckChecked1">Red</label>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
            <strong class="d-block py-2"> Items found </strong>
            <div class="ms-auto">
              <select class="form-select d-inline-block w-auto border pt-1">
                <option value="0">Best Seller</option>
                <option value="3">Random</option>
              </select>
            </div>
          </header>
          <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
              <div class="col-md-10">
                {% for shoefeature in shoefeatures %}
                <div class="row p-2 bg-white border rounded">
                  <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ shoefeature.productImage }}"></div>
                  <div class="col-md-6 mt-1">
                    <h5>{{ shoefeature.productName }}</h5>
                    <div class="d-flex flex-row">
                      <span class="text-uppercase text-muted brand">{{ shoefeature.brand }},{{ shoefeature.type2 }},{{ shoefeature.material }}</span>
                    </div>
                    <div class="d-flex flex-row">
                      Material: {{ shoefeature.material }}</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>{{ shoefeature.short_description }}</span></div>
                  </div>
                  <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                      <h4 class="mr-1">${{ shoefeature.price }}</h4>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4">
                      <a href="{% url 'product_page' product_id=shoefeature.product_id %}" class="btn btn-primary btn-sm">Details</a>
                      <form action=# method="post" onsubmit="alert('{{ shoefeature.productName }} added to shopping cart')">
                        {% csrf_token %}
                        <button class="btn btn-outline-yellow btn-sm mt-2 w-100" type="submit">Add to wishlist</button>
                      </form>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <nav aria-label="pagination" class="d-flex justify-content-center mt-3">
            <ul class="pagination">
              {% if shoefeatures.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                  <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ shoefeatures.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}
          
              {% for num in shoefeatures.paginator.page_range %}
              {% if shoefeatures.number == num %}
              <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
              {% endif %}
              {% endfor %}
          
              {% if shoefeatures.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ shoefeatures.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ shoefeatures.paginator.num_pages }}" aria-label="Last">
                  <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
          
    </div>
</div>

  </section>
    <footer>
      <div class="container">
          <div class="footer-links">
              <div class="col-md-3 col-lg-3 col-xl-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Happy Team</h6>
                  <p>
                     <a href="{% url 'homepage' %}" >Michael Grey</a>
                  </p>
                  <p>
                    <a href="{% url 'homepage' %}" >Ezio Auditore da Firenze</a>
                 </p>
                 <p>
                  <a href="{% url 'homepage' %}" >Billy Russo</a>
               </p>
              </div>

              <div class="col-md-2 col-lg-2 col-xl-2">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                  <p>
                      <a href="{% url 'menshoes' %}" class="text-white">Men Shoes</a>
                  </p>
                  <p>
                      <a href="{% url 'womenshoes' %}" class="text-white">Women Shoes</a>
                  </p>
                  <p>
                      <a href="#" class="text-white">Best Selling</a>
                  </p>
              </div>

              <div class="col-md-4 col-lg-3 col-xl-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                  <p><i class="fas fa-home mr-3"></i> Bangkok, Bang Pho 10012, TH</p>
                  <p><i class="fas fa-envelope mr-3"></i> happyfeet_cs@gmail.com</p>
                  <p><i class="fas fa-phone mr-3"></i> + 092 496 5301 </p>
                  <p><i class="fas fa-print mr-3"></i> + 092 496 5302</p>
              </div>
          </div>

          <hr class="my-3">

          <section class="p-3 pt-0">
              <div class="row d-flex align-items-center">
                  <div class="col-md-7 col-lg-8 text-center text-md-start">
                      <div class="p-3">
                          &copy; 2023 Happy Feet. All rights reserved.
                      </div>
                  </div>

                  <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                          <i class="fab fa-facebook-f"></i>
                      </a>
                      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                          <i class="fab fa-twitter"></i>
                      </a>
                      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                          <i class="fab fa-google"></i>
                      </a>
                      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                          <i class="fab fa-instagram"></i>
                      </a>
                  </div>
              </div>
          </section>
      </div>
  </footer>
  
    <script>
      $(document).ready(function() {
        $('[data-mdb-toggle="collapse-sidebar"]').on('click', function() {
          $('#navbarSupportedContent').collapse('toggle');
        });
        $('[data-mdb-toggle="collapse"]').on('click', function() {
          var target = $(this).attr('data-mdb-target');
          $(target).collapse('toggle');
        });
      });
    </script>
</body>
</html>



