<!DOCTYPE html>
<html>
<head>
    <title>Products for Men</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/Style2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
     body {
            background-image: url('/Static/css/aboutus.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            }
            body {
            margin: 0;
            padding: 0;
        }

        footer {
            background-color: #45526e;
            color: white;
        }

        .footer-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2rem 0;
        }

        .footer-links a {
            color: white;
            text-decoration: none;
        }

        .footer-links a:hover {
            text-decoration: underline;
        }
        .btn-outline-yellow {
          color: #ffc107; 
          background-color: transparent;
          border-color: #ffc107; 
          width: 140px;
        }
        .btn-outline-yellow:hover {
          background-color: #ffc107; 
          border-color: #ffc107; 
          color: #fff; 
        }
        .checked {
          color: orange;
        }  
        .yellow {
          color: #ffc107;
        } 
        .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .pagination a, .pagination .current-page {
        display: inline-block;
        padding: 5px 10px;
        margin: 0 2px;
        text-align: center;
        text-decoration: none;
        background-color: #000000;
        color: #fff;
        border: 1px solid #000000;
        border-radius: 3px;
    }

    .pagination a:hover {
        background-color: #000000;
    }

    .pagination .current-page {
        background-color: #000000;
        border: 1px solid #000000;
    }

    .pagination .step-links {
        display: flex;
        align-items: center;
    }
    </style>
</head>


<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-logo" id="navbar-logo">Happy Feet</a>

            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Home</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'homepage' %}">Homepage</a>
                            <a class="dropdown-item" href="{% url 'aboutus' %}">About us</a>
                            <a class="dropdown-item" href="{% url 'howtobuy' %}">How to buy?</a>
                            <a class="dropdown-item" href="{% url 'partnerships' %}">Partnerships</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Fashions</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'menshoes' %}">Men's Shoes</a>
                            <a class="dropdown-item" href="{% url 'womenshoes' %}">Women's Shoes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex my-2 my-lg-0" action="{% url 'search_view' %}" method="POST">
                  {% csrf_token %}
                      <input class="form-control me-sm-2" type="text" placeholder="Search" name="Search">
                      <button class="btn btn-outline-dark ms-2" type="submit">Search</button>
                </form>
                <form>
                  {% if user.is_authenticated %}
                  <a class="btn btn-outline-dark ms-2" href="{% url 'cart_view' %}">
                    Cart({{total_items}})
                  </a>
                  <a class="btn btn-outline-dark ms-2" href="{% url 'wishlist' %}">
                    <i class="fas fa-tasks"></i>
                  </a>
                    <a class="btn btn-outline-dark ms-2" href="{% url 'user_settings' %}">
                      Welcome,&nbsp;{{ user.username }}
                    </a>
                    <a class="btn btn-outline-dark ms-2" href="{% url 'signout' %}">
                      Log&nbsp;Out
                    </a>
                  {% else %}
                    <a class="btn btn-outline-dark ms-2" href="{% url 'signin' %}">
                      Login
                     </a>
                  {% endif %}
              </form>
            </div>
        </div>
    </nav>
    <div class="carousel slide" id="carousel"  data-bs-ride="carousel" data-mdb-interval="false">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" alt="MenProduct1" src='/Static/css/menads1.jpg' style="object-fit: cover; width: 1600px; height: 500px;" />
						<div class="carousel-caption">
							<h4>
								 Footwears for Men
							</h4>
							<p>
								Happy Feet provides the best quality of footwears for many years. We are more than happy to help you find your best shoes!
							</p>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" alt="MenProduct2" src='/Static/css/menads2.jpg' style="object-fit: cover; width: 1600px; height: 500px;" />
						<div class="carousel-caption">
							<h4>
								Customize your shoes with us!
							</h4>
							<p>
								Happy Feet allows customers to customize shoe style however customers like!
							</p>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" alt="MenProduct3" src='/Static/css/menads3.jpg' style="object-fit: cover; width: 1600px; height: 500px;" />
						<div class="carousel-caption">
							<h4>
								Many shoes to choose from our store!
							</h4>
							<p>
								Happy Feet also comes up with a variety of styles of shoes including formal shoes!
							</p>
						</div>
					</div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
			</div>
		</div>
	</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'homepage' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">
            Men Products
          </li>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <button
                  class="btn btn-success mb-3 w-100 d-lg-none"
                  type="button"
                  data-mdb-toggle="collapse-sidebar"
                  data-mdb-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                
            <span>Show filter</span>
          </button>
          <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
            <div class="accordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseOne"
                          aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseOne"
                          >
                    Related items
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                  <div class="accordion-body">
                    <form method="get" action="{% url 'filtered_products' %}" id="filter-form">
                    <div>
                      <div class="form-check">
                        <input class="form-check-input filter-checkbox" type="checkbox" value="Basketball" id="flexCheckChecked1" name="type2"/>
                        <label class="form-check-label" for="flexCheckChecked1">Basketball</label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input filter-checkbox" type="checkbox" value="Fashion" id="flexCheckChecked2" name="type2"/>
                        <label class="form-check-label" for="flexCheckChecked2">Fashion</label>
                    </div>
                    
                      <div class="form-check">
                        <input class="form-check-input filter-checkbox" type="checkbox" value="Running" id="flexCheckChecked3" name="type2"/>
                        <label class="form-check-label" for="flexCheckChecked3">Running</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input filter-checkbox" type="checkbox" value="Walking" id="flexCheckChecked4" name="type2"/>
                        <label class="form-check-label" for="flexCheckChecked4">Walking</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input filter-checkbox" type="checkbox" value="Casual" id="flexCheckChecked5" name="type2" />
                        <label class="form-check-label" for="flexCheckChecked5">Casual</label>
                      </div>
                    
                      <div class="form-check filter-checkbox">
                        <input class="form-check-input filter-checkbox" type="checkbox" value="Lifestyle" id="flexCheckChecked6" name="type2" />
                        <label class="form-check-label" for="flexCheckChecked6">Lifestyle</label>
                      </div>
                      <button type="submit" class="btn btn-outline-primary mt-2" form="filter-form">Apply Filters</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button text-dark bg-light"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#panelsStayOpen-collapseTwo"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseTwo"
                  >
                    Brands
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    <div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Nike" id="flexCheck1" checked />
                        <label class="form-check-label" for="flexCheck1">Nike</label>
                      </div>
              
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Adidas" id="flexCheck2" checked />
                        <label class="form-check-label" for="flexCheck2">Adidas</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Puma" id="flexCheck3" checked />
                        <label class="form-check-label" for="flexCheck3">Puma</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Converse" id="flexCheck4" checked />
                        <label class="form-check-label" for="flexCheck4">Converse</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Skechers" id="flexCheck5" />
                        <label class="form-check-label" for="flexCheck5">Skechers</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Newbalance" id="flexCheck6" />
                        <label class="form-check-label" for="flexCheck6">New Balance</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Reebok" id="flexCheck7" />
                        <label class="form-check-label" for="flexCheck7">Reebok</label>
                      </div>
                    
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Fila" id="flexCheck8" />
                        <label class="form-check-label" for="flexCheck8">Fila</label>
                      </div>
              
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseThree"
                          aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseThree"
                          >
                    Price
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                  <div class="accordion-body">
                    <div class="row mb-3">
                      <div class="col-6">
                        <p class="mb-0">
                          Min
                        </p>
                        <div class="form-outline">
                          <input type="number" id="typeNumber1" class="form-control" />
                          <label class="form-label" for="typeNumber1">$0</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <p class="mb-0">
                          Max
                        </p>
                        <div class="form-outline">
                          <input type="number" id="typeNumber2" class="form-control" />
                          <label class="form-label" for="typeNumber2">$1,0000</label>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-white w-100 border border-secondary">apply</button>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseFour"
                          aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseFour"
                          >
                    Size
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                  <div class="accordion-body">
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check1" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check1">7</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check2" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check2">8</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check3" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check3">9</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check4" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check4">10</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check5" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check5">11</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check6" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check6">12</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check7" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check7">13</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check8" checked autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check8">14</label>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseFive"
                          aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseFive"
                          >
                    Popular color
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                  <div class="accordion-body">
                  
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="formCheck1" checked />
                      <label class="form-check-label" for="formCheck1">Black</label>
                    </div>
                 
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="formCheck2" checked />
                      <label class="form-check-label" for="formCheck2">White</label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="formCheck3" checked />
                      <label class="form-check-label" for="formCheck3">Grey</label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="formCheck4" checked />
                      <label class="form-check-label" for="formCheck4">Blue</label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="formCheck5" checked />
                      <label class="form-check-label" for="formCheck5">Red</label>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
            <strong class="d-block py-2"> Items found </strong>
          </header>
          <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
              <div class="col-md-10">
                {% for shoefeature in shoefeatures %}
                <div class="product" data-categories="{{ shoefeature.type2 }}">
                <div class="row p-2 bg-white border rounded">
                  <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ shoefeature.productImage }}"></div>
                  <div class="col-md-6 mt-1">
                    <h5>{{ shoefeature.productName }}</h5>
                    <div class="d-flex flex-row">
                      <span class="text-uppercase text-muted brand">{{ shoefeature.brand }},{{ shoefeature.type2 }},{{ shoefeature.material }}</span>
                    </div>
                    <div class="d-flex flex-row">
                      <i class="fa fa-star{% if shoefeature.rating < 0.5 %}-o{% elif shoefeature.rating >= 0.5 and shoefeature.rating < 1 %}-half-o{% endif %} yellow" aria-hidden="true"></i>
                      <i class="fa fa-star{% if shoefeature.rating < 1.5 %}-o{% elif shoefeature.rating >= 1.5 and shoefeature.rating < 2 %}-half-o{% endif %} yellow" aria-hidden="true"></i>
                      <i class="fa fa-star{% if shoefeature.rating < 2.5 %}-o{% elif shoefeature.rating >= 2.5 and shoefeature.rating < 3 %}-half-o{% endif %} yellow" aria-hidden="true"></i>
                      <i class="fa fa-star{% if shoefeature.rating < 3.5 %}-o{% elif shoefeature.rating >= 3.5 and shoefeature.rating < 4 %}-half-o{% endif %} yellow" aria-hidden="true"></i>
                      <i class="fa fa-star{% if shoefeature.rating < 4.5 %}-o{% elif shoefeature.rating >= 4.5 and shoefeature.rating < 5 %}-half-o{% endif %} yellow" aria-hidden="true"></i>
      
                    </div>
                    <p class="card-text">({{ shoefeature.rating }} out of 5 ratings score)</p>
                    <div class="mt-1 mb-1 spec-1"><span>{{ shoefeature.short_description }}</span></div>
                  </div>
                  <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                      <h4 class="mr-1">${{ shoefeature.price }}</h4>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4">
                      <a href="{% url 'product_page' product_id=shoefeature.product_id %}" class="btn btn-primary btn-sm">Details</a>
                      <form id="add-to-wishlist-form-{{ shoefeature.product_id }}" data-product-id="{{ shoefeature.product_id }}" method="post"  >
                        {% csrf_token %}
                        <button class="btn btn-outline-yellow btn-sm add-to-wishlist-button mt-3" type="button">Add to Wishlist</button>
                    </form>
                      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            <script>
                                $(document).ready(function() {
                                    //add to Wishlist button
                                    $('.add-to-wishlist-button').click(function() {
                                        var button = $(this);
                                        if (button.hasClass('disabled')) {
                                            return; 
                                        }                              
                                        button.addClass('disabled'); 
                                
                                        var productId = button.closest('form').data('product-id');
                                        var url = '{% url "add_to_wishlist" product_id=0 %}'.replace('0', productId);
                                        
                                        //get CSRF token from the cookie
                                        var csrftoken = getCookie('csrftoken');
                                
                                        //send an AJAX POST request to add the product to the wishlist
                                        $.ajax({
                                            url: url,
                                            method: 'POST',
                                            headers: {
                                                'X-CSRFToken': csrftoken
                                            },
                                            success: function(data) {
                                                //handle the JSON response here
                                                console.log(data.message);
                                            },
                                            complete: function() {
                                                button.removeClass('disabled');
                                            }
                                        });
                                    });                              
                                    //function to get CSRF cookie
                                    function getCookie(name) {
                                        var cookieValue = null;
                                        if (document.cookie && document.cookie !== '') {
                                            var cookies = document.cookie.split(';');
                                            for (var i = 0; i < cookies.length; i++) {
                                                var cookie = cookies[i].trim();
                                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                    break;
                                                }
                                            }
                                        }
                                        return cookieValue;
                                    }
                                });
                                </script>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            </div>
          </div>
          <div class="pagination">
            <span class="step-links">
                {% if shoefeatures.has_previous %}
                    <a href="?page=1"> first</a>
                    <a href="?page={{ shoefeatures.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current-page">
                    Page {{ shoefeatures.number }} of {{ shoefeatures.paginator.num_pages }}.
                </span>
        
                {% if shoefeatures.has_next %}
                    <a href="?page={{ shoefeatures.next_page_number }}">next</a>
                    <a href="?page={{ shoefeatures.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
          
    </div>
</div>

  </section>
    <footer>
      <div class="container">
          <div class="footer-links">
              <div class="col-md-3 col-lg-3 col-xl-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Happy Team</h6>
                  <p>
                    <a href="{% url 'aboutus' %}" >Jane Doe</a>
                 </p>
                 <p>
                   <a href="{% url 'aboutus' %}" >Mike Ross</a>
                </p>
                <p>
                 <a href="{% url 'aboutus' %}" >John Doe</a>
              </p>
              </div>

              <div class="col-md-2 col-lg-2 col-xl-2">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                  <p>
                      <a href="{% url 'menshoes' %}" class="text-white">Men Shoes</a>
                  </p>
                  <p>
                      <a href="{% url 'womenshoes' %}" class="text-white">Women Shoes</a>
                  </p>
                  <p>
                      <a href="#" class="text-white">Best Selling</a>
                  </p>
              </div>

              <div class="col-md-4 col-lg-3 col-xl-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                  <p><i class="fas fa-home mr-3"></i> Bangkok, Bang Pho 10012, TH</p>
                  <p><i class="fas fa-envelope mr-3"></i> happyfeet_cs@gmail.com</p>
                  <p><i class="fas fa-phone mr-3"></i> + 092 496 5301 </p>
                  <p><i class="fas fa-print mr-3"></i> + 092 496 5302</p>
              </div>
          </div>

          <hr class="my-3">

          <section class="p-3 pt-0">
              <div class="row d-flex align-items-center">
                  <div class="col-md-7 col-lg-8 text-center text-md-start">
                      <div class="p-3">
                          &copy; 2023 Happy Feet. All rights reserved.
                      </div>
                  </div>

                  <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                          <i class="fab fa-facebook-f"></i>
                      </a>
                      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                          <i class="fab fa-twitter"></i>
                      </a>
                      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                          <i class="fab fa-google"></i>
                      </a>
                      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                          <i class="fab fa-instagram"></i>
                      </a>
                  </div>
              </div>
          </section>
      </div>
  </footer>
  
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    //toggle the collapse of the sidebar
    $('[data-mdb-toggle="collapse-sidebar"]').on('click', function() {
      $('#navbarSupportedContent').collapse('toggle');
    });

    //toggle collapse elements
    $('[data-mdb-toggle="collapse"]').on('click', function() {
      var target = $(this).attr('data-mdb-target');
      $(target).collapse('toggle');
    });

    //attach a click event listener to checkboxes with the "form-check-input.filter-checkbox" class
    $('.form-check-input.filter-checkbox').on('click', function() {
      updateProductDisplay(); // Call the updateProductDisplay function when a checkbox is clicked
    });
  });

  //function to update the product display based on selected checkboxes
  function updateProductDisplay() {
    const selectedCategories = [];

    //loop through checkboxes and check which ones are selected
    $('.form-check-input.filter-checkbox').each(function() {
      if ($(this).prop('checked')) {
        selectedCategories.push($(this).val());
      }
    });

    //loop through product items and hide/show based on selected categories
    $('.col-md-10 .row').each(function() {
      const dataCategories = $(this).attr('data-categories');

      //check if data-categories attribute exists before splitting
      if (dataCategories) {
        const productCategories = dataCategories.split(' ');

        if (
          selectedCategories.length === 0 ||
          selectedCategories.some((category) => productCategories.includes(category))
        ) {
          $(this).show(); 
        } else {
          $(this).hide(); 
        }
      }
    });
  }
</script>

</body>
</html>



