<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked />
    <label class="form-check-label" for="flexCheckChecked1">Asian</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked />
    <label class="form-check-label" for="flexCheckChecked2">Reebok</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked />
    <label class="form-check-label" for="flexCheckChecked3">Puma</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" checked />
    <label class="form-check-label" for="flexCheckChecked4">Generic</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault">Sparx</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault">BATA</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault">Adidas</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault">Corstyle</label>
  </div>