<!DOCTYPE html>
{%load static%}

<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <style>
        #container2 {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
            padding: 20px;
            margin-top: 0px;
                    }
        .d-flex .flex-fill {
            display: inline-block;
            }
             #form-group {
                background-color: #fff;
                box-shadow: 0 1px 3px rgba(0,0,0,.3);
                padding: 20px;
                border-radius: 8px;
                
                    }
            body {
                background-image: url('/Static/css/aboutus.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        </style>
        <title>Sign up</title>
    </head> 
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
      <div class="container">
          <a class="navbar-logo"id="navbar-logo">Happy Feet</a>
          <a class="navbar-brand nav-link-equal" href="{% url 'homepage' %}">Return to Homepage</a>
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{% url 'homepage' %}">Home</a>
                        <a class="dropdown-item" href="{% url 'aboutus' %}">About us</a>
                        <a class="dropdown-item" href="{% url 'howtobuy' %}">How to buy?</a>
                        <a class="dropdown-item" href="{% url 'partnerships' %}">Partnerships</a>
                        <a class="dropdown-item" href="#">FAQ</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fashions</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{% url 'menshoes' %}">Men's Shoes</a>
                        <a class="dropdown-item" href="{% url 'womenshoes' %}">Women's Shoes</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                  </li>
              </ul>
              <form class="d-flex my-2 my-lg-0">
                  <input class="form-control me-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  <a class="btn btn-outline-dark ms-2" href="{% url 'signin' %}">Login</a>
              </form>
          </div>
      </div>
  </nav>
  <body>
    <div class="container my-5" id="container2">
        <div class="row justify-content-center">
          
            <h2 class="text-center mb-4">Sign Up</h2>
            <form action="{% url 'signup' %}" method="POST">
              {% csrf_token %}
              <div class="mb-3 row">
                <div class="col">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="col">
                  <label for="surname" class="form-label">Surname</label>
                  <input type="text" class="form-control" id="surname" name="surname" required>
                </div>
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="varchar" class="form-control" id="username" name="username" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="mb-3 row">
                <div class="col">
                <label for="birthdate" class="form-label">Birth date</label>
                <input type="date" class="form-control" id="birthdate" name="birthdate" required>
                </div>
              <div class="col">
                <label for="phoneno" class="form-label">Mobile phone</label>
                <input type="tel" class="form-control" id="phoneno" name="phoneno" required>
              </div>
              <div class="mb-3">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="terms" name="terms" required>
                  I have read and agree to the <a href="#">terms & policy</a>
                </label>
              </div>             
              <center><button type="submit" class="btn btn-dark">Sign Up</button></center>
              {% if messages %}
                {% for message in messages %}
                  {% if message.tags == 'success' %}
                    <div class="alert alert-success">
                  {% else %}
                    <div class="alert alert-danger">
                  {% endif %}
                  <ul>
                    <li>{{ message }}</li>
                  </ul>
                  </div>
                {% endfor %}
              {% endif %}
            </form>
        </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <center><p>This responsive web application is created for educational purpose. Do not use for making profits. Credit: ABAC students.</p></center>
      </div> 
      
  </body>
        


    
</html>