<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/Style2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Account Settings</title>
    <style>
        body {
            background-image: url('/Static/css/aboutus.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        footer {
            background-color: #45526e;
            color: white;
            padding: 60px; 
        }
        .footer-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2rem 0;
        }
        .footer-links a {
            color: white;
            text-decoration: none;
        }
        .footer-links a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-logo" id="navbar-logo">Happy Feet</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'homepage' %}" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'homepage' %}">Homepage</a>
                            <a class="dropdown-item" href="{% url 'aboutus' %}">About us</a>
                            <a class="dropdown-item" href="{% url 'howtobuy' %}">How to buy?</a>
                            <a class="dropdown-item" href="{% url 'partnerships' %}">Partnerships</a>
                            <a class="dropdown-item" href="{% url 'faqpage' %}">FAQ</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fashions</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'menshoes' %}">Men's Shoes</a>
                            <a class="dropdown-item" href="{% url 'womenshoes' %}">Women's Shoes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>

                <form class="d-flex my-2 my-lg-0" action="{% url 'search_view' %}" method="POST">
                    {% csrf_token %}
                        <input class="form-control me-sm-2" type="text" placeholder="Search" name="Search">
                        <button class="btn btn-outline-dark ms-2" type="submit">Search</button>
                    </form>
                    <form>
                    {% if user.is_authenticated %}
                    <a class="btn btn-outline-dark ms-2" href="{% url 'cart_view' %}">
                      Cart({{total_items}})
                    </a>
                    <a class="btn btn-outline-dark ms-2" href="{% url 'wishlist' %}">
                        <i class="fas fa-tasks"></i>
                      </a>
                      <a class="btn btn-outline-dark ms-2" href="{% url 'user_settings' %}">
                        Welcome,&nbsp;{{ user.username }}
                      </a>
                      <a class="btn btn-outline-dark ms-2" href="{% url 'signout' %}">
                        Log&nbsp;Out
                      </a>
                    {% else %}
                      <a class="btn btn-outline-dark ms-2" href="{% url 'signin' %}">
                        Login
                       </a>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
    <div class="background">
        <div class="container p-0">
            <h1 class="h3 mb-3">Settings</h1>
            <div class="row">
                <div class="col-md-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Account Settings</h5>
                        </div>

                        <div class="list-group list-group-flush" role="tablist">
                            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account" role="tab">
                                Account
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
                                Change Password
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#order_tracker" role="tab">
                                Order Tracker
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#history" role="tab">
                                History
                            </a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="{% url 'signout' %}" role="tab">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-xl-8">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="account" role="tabpanel">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Public info</h5>
                                </div>
                                <div class="card-body">
                                    <form action="{% url 'user_public_info_change' %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label for="inputUsername">Username</label>
                                                    <input type="text" class="form-control" id="inputUsername" placeholder="Username" value="{{ request.user.username }}" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPhoneno">Contact number</label>
                                                    <input type="text" class="form-control" id="inputPhoneno" name="inputPhoneno" placeholder="123456790" value="{{ request.user.userprofile.phoneno }}">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-center">
                                                    <img alt="Default Profile" src="{% static 'css/logo.jpg' %}" class="rounded-circle img-responsive mt-2" width="128" height="128">
                                                    <h6><small>Welcome back, {{request.user.username}}!</small></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-dark">Save changes</button>
                                    </form>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Private info</h5>
                                </div>
                                <div class="card-body">
                                    <form action="{% url 'user_private_info_change' %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputFirstName">First name</label>
                                                <input type="text" class="form-control" id="inputFirstName" placeholder="First name" value="{{ request.user.first_name }}" readonly>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputLastName">Last name</label>
                                                <input type="text" class="form-control" id="inputLastName" placeholder="Last name" value="{{ request.user.last_name }}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputBirthdate">Birthdate</label>
                                            <input type="date" class="form-control" id="inputBirthdate" name="birthdate" placeholder="Birthdate" value="{{ request.user.userprofile.birthdate|date:'Y-m-d' }}" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail4">Email</label>
                                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" value="{{ request.user.email }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Address 1</label>
                                            <input type="text" class="form-control" id="inputAddress" name="inputAddress" placeholder="1234 Main St" value="{{ request.user.userprofile.address }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress1">Address 2</label>
                                            <input type="text" class="form-control" id="inputAddress1" name="inputAddress1" placeholder="Apartment, studio, or floor" value="{{ request.user.userprofile.address1 }}">
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputCity">City</label>
                                                <input type="text" class="form-control" id="inputCity" name="inputCity" placeholder="City" value="{{ request.user.userprofile.city }}" >
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputState">State</label>
                                                <input type="text" class="form-control" id="inputState" name="inputState" placeholder="State" value="{{ request.user.userprofile.state }}">
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label for="inputZip">Zip</label>
                                                <input type="text" class="form-control" id="inputZip" name="inputZip" placeholder="ZIP code" value="{{ request.user.userprofile.zip_code }}">
                                            </div>
                                        </div>
                                        <div class="SPACEOUTBITCH mt-3">
                                            <button type="submit" class="btn btn-dark">Save changes</button>
                                        </div>
                                    </form>
                                    {% if message %}
                                    <div class="alert alert-danger">{{ message }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade mb-0" id="password" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Password</h5>
                                    <form action="{% url 'change_password' %}" method="POST">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-dark">Save changes</button>
                                    </form>
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                                <div class="alert alert-danger">{{ message }}</div>
                                            {% elif message.tags == 'success' %}
                                                <div class="alert alert-success">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade mb-0" id="order_tracker" role="tabpanel">
                            <div class="container-fluid">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive table-borderless">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">
                                                                    <div class="toggle-btn">
                                                                        <div class="inner-circle"></div>
                                                                    </div>
                                                                </th>
                                                                <th>Order</th>
                                                                <th>Name</th>
                                                                <th>Status</th>
                                                                <th>Quantity</th>
                                                                <th>Total</th>
                                                                <th>Created</th>
                                                                <th>Delivery&nbsp;status</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-body">
                                                            {% for order in order_transactions %}
                                                            <tr class="cell-1">
                                                                <td class="text-center">
                                                                    <div class="toggle-btn">
                                                                        <div class="inner-circle"></div>
                                                                    </div>
                                                                </td>
                                                                <td>{{ order.product_id }}</td>
                                                                <td>{{ order.productName }}</td>
                                                                <td>{{ order.payment_method }}</td>
                                                                <td>{{ order.product_quantity }}</td>
                                                                <td>${{ order.total_amount_vat }}</td>
                                                                <td>{{ order.created_by }}</td>
                                                                <td>{{ order.delivery_status }}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <nav aria-label="pagination" class="d-flex justify-content-center mt-3">
                                                        <ul class="pagination">
                                                            <li class="page-item {% if order_history.has_previous %}{{ '' }}{% else %}disabled{% endif %}">
                                                                <a class="page-link" href="{% if order_history.has_previous %}?page={{ order_history.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                                                                    <span aria-hidden="true">&laquo;</span>
                                                                </a>
                                                            </li>
                                                            {% for page_num in order_history.paginator.page_range %}
                                                                <li class="page-item {% if page_num == order_history.number %}active{% endif %}">
                                                                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                                                </li>
                                                            {% endfor %}
                                                            <li class="page-item {% if order_history.has_next %}{{ '' }}{% else %}disabled{% endif %}">
                                                                <a class="page-link" href="{% if order_history.has_next %}?page={{ order_history.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade mb-0" id="history" role="tabpanel">
                            <div class="container-fluid">
                              <div class="card">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="table-responsive table-borderless">
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th>Order</th>
                                              <th>Name</th>
                                              <th>Status</th>
                                              <th>Quantity</th>
                                              <th>Total</th>
                                              <th>Created</th>
                                              <th>Delivery Status</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for history in order_history %}
                                            <tr>
                                                <td>{{ history.product_id }}</td>
                                                <td>{{ history.productName }}</td>
                                                <td>{{ history.payment_method }}</td>
                                                <td>{{ history.product_quantity }}</td>
                                                <td>${{ history.total_amount_vat }}</td>
                                                <td>{{ history.created_by }}</td>
                                                <td>{{ history.delivery_status }}</td>
                                            </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                        <nav aria-label="pagination" class="d-flex justify-content-center mt-3">
                                            <ul class="pagination">
                                                <li class="page-item {% if order_history.has_previous %}{{ '' }}{% else %}disabled{% endif %}">
                                                    <a class="page-link" href="{% if order_history.has_previous %}?page={{ order_history.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                {% for page_num in order_history.paginator.page_range %}
                                                    <li class="page-item {% if page_num == order_history.number %}active{% endif %}">
                                                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                                    </li>
                                                {% endfor %}
                                                <li class="page-item {% if order_history.has_next %}{{ '' }}{% else %}disabled{% endif %}">
                                                    <a class="page-link" href="{% if order_history.has_next %}?page={{ order_history.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container">
                    <div class="footer-links">
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Happy Team</h6>
                            <p>
                                <a href="{% url 'aboutus' %}" >Jane Doe</a>
                             </p>
                             <p>
                               <a href="{% url 'aboutus' %}" >Mike Ross</a>
                            </p>
                            <p>
                             <a href="{% url 'aboutus' %}" >John Doe</a>
                          </p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                            <p>
                                <a href="{% url 'menshoes' %}" class="text-white">Men Shoes</a>
                            </p>
                            <p>
                                <a href="{% url 'womenshoes' %}" class="text-white">Women Shoes</a>
                            </p>
                            <p>
                                <a href="#" class="text-white">Best Selling</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                            <p><i class="fas fa-home mr-3"></i> Bangkok, Bang Pho 10012, TH</p>
                            <p><i class="fas fa-envelope mr-3"></i> happyfeet_cs@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 092 496 5301</p>
                            <p><i class="fas fa-print mr-3"></i> + 092 496 5302</p>
                        </div>
                    </div>
                    <hr class="my-3">
                    <section class="p-3 pt-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-7 col-lg-8 text-center text-md-start">
                                <div class="p-3">
                                    &copy; 2023 Happy Feet. All rights reserved.
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                                    <i class="fab fa-google"></i>
                                </a>
                                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
            </footer>
            <script>
                $(document).ready(function () {
                    $('[data-mdb-toggle="collapse-sidebar"]').on('click', function () {
                        $('#navbarSupportedContent').collapse('toggle');
                    });

                    $('[data-mdb-toggle="collapse"]').on('click', function () {
                        const target = $(this).data('target');
                        $(target).collapse('toggle');
                    });
                });

                $(document).ready(function() {
                    $('.list-group-item-action').on('click', function() {
                        $('.list-group-item-action').removeClass('active');
                        $(this).addClass('active');
                        var target = $(this).attr('href');
                        $('.tab-pane').removeClass('show active');
                        $(target).addClass('show active');
                    });
                });
            </script>
        </body>
    </html>
