<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/Style2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>{{request.user}}'s Wishlist</title>
    <style>
        body {
            background-image: url('/Static/css/aboutus.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        footer {
            background-color: #45526e;
            color: white;
            padding: 60px; 
        }
        .footer-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2rem 0;
        }
        .footer-links a {
            color: white;
            text-decoration: none;
        }
        .footer-links a:hover {
            text-decoration: underline;
        }
        #demoFont {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 32px;
        letter-spacing: -3px;
        word-spacing: 1.8px;
        color: #45526E;
        font-weight: 700;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-logo" id="navbar-logo">Happy Feet</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'homepage' %}" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'homepage' %}">Homepage</a>
                            <a class="dropdown-item" href="{% url 'aboutus' %}">About us</a>
                            <a class="dropdown-item" href="{% url 'howtobuy' %}">How to buy?</a>
                            <a class="dropdown-item" href="{% url 'partnerships' %}">Partnerships</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fashions</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'menshoes' %}">Men's Shoes</a>
                            <a class="dropdown-item" href="{% url 'womenshoes' %}">Women's Shoes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>

                <form class="d-flex my-2 my-lg-0" action="{% url 'search_view' %}" method="POST">
                    {% csrf_token %}
                        <input class="form-control me-sm-2" type="text" placeholder="Search" name="Search">
                        <button class="btn btn-outline-dark ms-2" type="submit">Search</button>
                    </form>
                    <form>
                    {% if user.is_authenticated %}
                    <a class="btn btn-outline-dark ms-2" href="{% url 'cart_view' %}">
                      Cart({{total_items}})
                    </a>
                    <a class="btn btn-outline-dark ms-2" href="{% url 'wishlist' %}">
                        <i class="fas fa-tasks"></i>
                      </a>
                      <a class="btn btn-outline-dark ms-2" href="{% url 'user_settings' %}">
                        Welcome,&nbsp;{{ user.username }}
                      </a>
                      <a class="btn btn-outline-dark ms-2" href="{% url 'signout' %}">
                        Log&nbsp;Out
                      </a>
                    {% else %}
                      <a class="btn btn-outline-dark ms-2" href="{% url 'signin' %}">
                        Login
                       </a>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="card just mx-auto" style="width: 80%; min-height: 850px;">
                    <div class="card-body">
                        <div class="card-title text-center mt-2">
                            <div id="demoFont">Wishlist</div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4 ml-2">                       
                            <div>
                                <p class="mb-0 mt-3">You have {{total_products_in_wishlist}} have product(s) in Wishlist</p>   
                            </div>                
                        </div> 
                        {% for product in wishlist_product %}
                        <div class="card mt-2">
                            <div class="row">
                                <div class="col-md-2 col-12 mt-4 ml-3">
                                    <h5><b>{{ product.productName }}</b></h5>
                                    <div class="d-flex flex-row ">
                                        <span class="text-uppercase text-muted brand mt-2">
                                            {{ product.brand }}, {{ product.type2 }}, {{ product.material }}
                                        </span>
                                    </div>
                                </div>                     
                                <div class="col-md-2 col-12 mt-5 mb-2 ml-2 text-center">
                                    <img src="{{ product.productImage }}" class="card-img-top img-fluid" style="max-width: 60%;">
                                </div>
                                <div class="col-md-2 col-12 mt-5 ml-3 ">
                                    <h5 style="white-space: nowrap;"><b>In stock(s)</b></h5>
                                    <div class="border p-1 w-25 mt-2 text-center">
                                        {{ product.available_quantity }}
                                    </div>
                                </div>
                                <div class="col-md-2 col-12  mt-3 ml-1 mb-3"> 
                                    <form action="{% url 'remove_from_wishlist' id=product.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger mt-3 ml-3">Remove</button>
                                    </form>
                                    
                                    {% if product.product_id %}
                                        <a href="{% url 'product_page' product_id=product.product_id %}" class="btn btn-outline-primary mt-3 ml-3">Visit Page</a>
                                    {% endif %}
                                </div>                             
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
            <footer>
                <div class="container">
                    <div class="footer-links">
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Happy Team</h6>
                            <p>
                                <a href="{% url 'aboutus' %}" >Jane Doe</a>
                             </p>
                             <p>
                               <a href="{% url 'aboutus' %}" >Mike Ross</a>
                            </p>
                            <p>
                             <a href="{% url 'aboutus' %}" >John Doe</a>
                          </p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                            <p>
                                <a href="{% url 'menshoes' %}" class="text-white">Men Shoes</a>
                            </p>
                            <p>
                                <a href="{% url 'womenshoes' %}" class="text-white">Women Shoes</a>
                            </p>
                            <p>
                                <a href="#" class="text-white">Best Selling</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                            <p><i class="fas fa-home mr-3"></i> Bangkok, Bang Pho 10012, TH</p>
                            <p><i class="fas fa-envelope mr-3"></i> happyfeet_cs@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 092 496 5301</p>
                            <p><i class="fas fa-print mr-3"></i> + 092 496 5302</p>
                        </div>
                    </div>
                    <hr class="my-3">
                    <section class="p-3 pt-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-7 col-lg-8 text-center text-md-start">
                                <div class="p-3">
                                    &copy; 2023 Happy Feet. All rights reserved.
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                                    <i class="fab fa-google"></i>
                                </a>
                                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
            </footer>
           
        </body>
    </html>
