#navbar-logo {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 23px;
    letter-spacing: -1px;
    word-spacing: -0.6px;
    color: #4B79A4;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    margin-right: 20px;
    }